init_config:
  # Turn on debug logging
  #debug: False

  # Debug logging on steriods
  #log_at_trace: False

  # Sometimes you want to see teh metrics you'll send
  #log_each_metric: False

  # Timeout for the call to /metrics
  #http_timeout: 0.25

  # By default, we do not process the following: .tps15, .p75, .p98
  # You can disable that or modify the list
  #metrictype_blacklist: tps, min, .tps15, .p75, .p98

  # Tags applied to all of these services
  #service_tags: grp:webtier, xx:yy

  # Default is to remove Java package names from the metric
  #leave_package_names: False

instances:
  # Overrides for the default; http://localhost:8080/metrics
  - host: localhost
    port: 8080
    stats_url: /metrics

    # NOTE: if defined, "appname" is prefixed as the first field of the metrics,
    #       so that all of the dropwizard metrics don't end up in the single, default "dropwizard"
    #appname: myapp

    # tags applied to this instance
    # NOTE: it is strongly recommended that you supply and "app:xxx" tag,
    #       if you do not plan to use "appname" above
    #instance_tags: appgrp:homepage, app:myapp

